footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    background: #f7f7f7;

}

footer .container {
    width: 1180px;
    font-size: 14px;
    margin: 0 auto;

}
footer .inherit{
    cursor: pointer;
}

footer .clearfix {
    clear: both;
}

footer .footer-link {
    margin-top: 30px;
    float: left;
    width: 15%;
    /* height: 300px; */
}

footer .footer-link-title {
    font-size: 14px;
    line-height: 30px;
    padding: 0px;

    margin: 0px;
    font-weight: normal;
}

footer .footer-link-item {
    color: #999;

    text-decoration: none;
    display: block;
    font-size: 12px;
    width: 72px;
    height: 24px;
}

footer .footer-link-item:hover {
    color: #999;

    text-decoration: none;
}

footer .footer-contect {
    padding-left: 3%;
    border-left: 1px #e6e6e6 solid;
    width: 23%;
    padding-right: 10px;
    float: left;

    margin-top: 30px;
}

footer .footer-contect-item {
    margin-bottom: 12px;
    color: #666;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;

    /* border: red 1px solid; */
}

footer .footer-contect-item a {
    color: #666;
    text-decoration: none;
}

footer .footer-contect-item a:hover {
    color: #000000;
    text-decoration: none;
}

footer .icon-wechat {
    vertical-align: middle;
    background: url(../img/weixin.png) no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;

}

footer .icon-wechat:hover {

    background: url(../img/weixin-hover.png) no-repeat;
}

footer .icon-webo {
    vertical-align: middle;
    background: url(../img/weibo.png) no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;

}

footer .icon-webo:hover {
    background: url(../img/weibo-hover.png) no-repeat;
}

footer .footer-mobile {
    width: 256px;
    float: right;
    margin-top: 20px;
    /* margin-left: 90px; */
    font-size: 14px;

}

footer .footer-mobile>a {
    float: left;
}

footer .footer-mobile>.footer-mobile-content {
    margin-left: 10px;
    float: left;
}

footer .footer-mobile-content h3 {
    /* display: inline; */
    font-size: 16px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
}

footer .footer-mobile-content p {
    color: #666;
    font-size: 12px;
}


footer .dropbox {
    display: none;
    position: relative;
    top: -150px;

}

footer .footer-copyright {
    font-size: 12px;
    text-align: center;
    padding-top: 60px;
}

footer .footer-copyright h5.owner {
    color: #000000;
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
    
}

footer .footer-copyright a{
    color: inherit;
    text-decoration: none;
}
footer .footer-police a{
    color: inherit;
    text-decoration: none;
}
footer .footer-police {
    
    font-size: 14px;
    text-align: center;
    padding:  10px 0;
}