* {
    padding: 0;
    margin: 0;
}
body{
    width: 1920px;
    height: 500px;
}
.header{
    width: 1920px;
    height: 500px;
    background-color: orange;
}
.nav{
    height: 100px;
}
.nav #slogan{
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-family: 华文新魏, serif;
    font-size: 20px;
}
.nav .signInUp{
    float: right;
    padding-right: 200px;
    width: 300px;
    height: 100px;
    line-height: 100px;
}
.nav img{
    padding-left: 250px;
}
.nav a{
    text-decoration: none;
    color: white;
    float: left;
}
.nav a:hover{
    color: lightgray;
}
.nav p{
    float: left;
    width: 20px;
    text-align: center;
    color: white;
}
.nav #join{
    float: right;
    margin-top: 35px;
    margin-right: 100px;
    width: 100px;
    height: 30px;
    background-color: rgb(189, 183, 107);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}
.nav #join:hover{
    background-color: rgb(195, 176, 145);
    color: white;
}
.bigLogo{
    height: 200px;
}
.searchBar{
    height: 200px;
}